<h1>Search Results for <%= @query[:string] %></h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ul>

<a href="/">Back to Recipes</a>
